:root {
  --white: #FFFFFF;
  --black: #0D0F14;
  --red: #F60827;
  --blue: #1A1B23;
  --fs: 1.1rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;/*
  font-family: 'Architects Daughter',cursive;
  font-family: 'Comic Neue', cursive;*/
}
html {
  scroll-snap-type: y mandatory;
}
body {
  width: 100vw;
  height: 100vh;
  background: var(--black);
}
.NavBar {
  width: 100%;
  height: 65px;
  background: transparent;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 25px;
  z-index: 10;
}
.NavBar .logo {
  color: var(--white);
  font-weight: bold;
  font-size: 1.3rem;
}
.NavBar .logo:first-letter {
  color: var(--red);
}
.NavBar .Menu {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 25px;
}
#checkbox {
  display: none;
}
.toggle {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  transition-duration: .4s;
  z-index: 6;
}
.bars {
  width: 100%;
  height: 2px;
  background-color: var(--white);
  border-radius: 3px;
}
#bar2 {
  transition-duration: .8s;
}
#bar1,#bar3 {
  width: 70%;
}
#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}
#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}
#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}
#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}
#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}
.MenuItems {
  width: 100%;
  height: 100%;
  background: var(--black);
  position: fixed;
  top: 0;
  left: -100%;
  padding: 150px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: left 0.3s;
  z-index: 5;
}
.MenuItems a {
  width: 50%;
  height: auto;
  padding: 13px 0;
  text-decoration: none;
  border-radius: 5px;
  background: var(--white);
  color: var(--black);
  font-size: var(--fs);
  text-align: center;
  font-weight: bold;
}
.MenuItems a:first-letter {
  color: var(--red);
}
.MenuItemsOn {
  left: 0;
}
.UCSection {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.UpcomingMovies {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  overflow: auto;
  background: transparent;
  gap: 10px;
  scroll-snap-type: x mandatory;
}
.UPMovie {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: var(--black);
  border-radius: 7px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
}
.MCover {
  width: 100%;
  height: 60%;
  object-fit: cover;
  
}
.MovieImg {
  width: 160px;
  height: 240px;
  object-fit: cover;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  z-index: 3;
}
.UPShadow {
  width: 100%;
  height: 60.5%;
  position: absolute;
  top: 0;
  box-shadow: inset 0 0 60px 65px var(--black);
}
.UPMovie > .UPMovieInfo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 63%;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 15px 0;
}
.UPMovieInfo .UPMovieName {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0 25px;
}
.UPMovieRating {
  font-size: 1.1rem;
  color: yellow;
  font-weight: bold;
}
.UPMovieRating::before {
  content: '⭐ ';
  position: relative;
  top: -1.2px;
}
.ButtonBox {
  width: 100%;
  height: 150px;
  background: transparent;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.ButtonBox div {
  width: 60%;
  height: 50px;
  background: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background 0.3s;
}
.ButtonBox div:hover {
  background: var(--white);
  color: var(--black);
}
.TRSection {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background: var(--black);
}
.TrendingMovies {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 0 10px 0;
}
.TrendingMovies > p {
  color: var(--white);
  font-size: var(--fs);
  font-weight: bold;
  position: absolute;
  width: 100%;
  background: var(--black);
  padding: 65px 0 15px 0;
  text-align: center;
  z-index: 2;
}
.TrendingMovies > p::first-letter {
  color: var(--red);
}
.TrendingMoviesBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  overflow: auto;
  padding-top: 100px;
}
.Movie {
  width: 150px;
  height: 230px;
  overflow: hidden;
  position: relative;
  background: var(--blue);
  border-radius: 7px;
}
.Movie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Movie > .MovieInfo {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: -55px;
  backdrop-filter: blur(5px);
  transition: 0.3s;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 7px;
  row-gap: 2px;
}
.Movie:hover .MovieInfo {
  bottom: 0px;
}
.MovieInfo .MovieName {
  color: var(--white);
  font-size: 13px;
}
.MovieRating {
  font-size: 13px;
  color: yellow;
  font-weight: bold;
}
.MovieRating::before {
  content: '⭐ ';
  position: relative;
  top: -1.2px;
}
.PPSection {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background: var(--black);
}
.PopulerMovies {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 0 10px 0;
}
.PopulerMovies > p {
  color: var(--white);
  font-size: var(--fs);
  font-weight: bold;
  position: absolute;
  width: 100%;
  background: var(--black);
  padding: 65px 0 15px 0;
  text-align: center;
  z-index: 2;
}
.PopulerMovies > p::first-letter {
  color: var(--red);
}
.PopulerMoviesBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  overflow: auto;
  padding-top: 100px;
} 
/*box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;*/

.AMSection {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background: var(--black);
}
.AllMoviesByGender {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.AMTitle {
  width: 100%;
  height: 100px;
  color: var(--white);
  font-size: var(--fs);
  font-weight: bold;
  position: absolute;
  background: var(--black);
  text-align: center;
  z-index: 3;
  padding-top: 65px;
}
.AMTitle::first-letter {
  color: var(--red);
}
.AllGender {
  width: 100%;
  height: 50px;
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  overflow: scroll;
  padding: 5px 25px;
  background: var(--black);
  position: absolute;
  top: 100px;
  z-index: 3;
}
.Gender {
  width: auto;
  height: 40px;
  background: var(--white);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0 10px;
  border-radius: 5px;
}
.Gender:first-child {
  background: var(--red);
  color: var(--white);
}
.AMGender {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background: var(--black);
  overflow: scroll;
  padding: 165px 0 10px 0;
} 
.Movie2 {
  width: 80%;
  height: 140px;
  overflow: hidden;
  position: relative;
  background: var(--blue);
  border-radius: 7px;
  display: flex;
  align-items: center;
}
.Movie2Cover {
  width: 110px;
  height: 130px;
  position: absolute;
  left: 10px;
  overflow: hidden;
  z-index: 2;
  border-radius: 5px;
}
.Movie2Cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.MovieInfo2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding-left: 130px;
}
.MovieName2 {
  color: var(--white);
  font-size: 14px;
}
.MovieRating2 {
  font-size: 13px;
  color: yellow;
  font-weight: bold;
}
.MovieRating2::before {
  content: '⭐ ';
  position: relative;
  top: -1.2px;
}