
:root {
  --bg: #FFFFFF;
  --bg2: #202225;
  --tx: #202225;
  --tx2: #FFFFFF;
  --tx3: #64656A;
  --fs: 1.3rem;
  --fs2: 1.1rem;
  --red: #FF4242;
}
* {
  padding: 0;
  margin:  0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.3s;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body {
  width: 100vw;
  height: 100vh;
  background: var(--bg);
}

/*** Header ***/

/* Nav Bar */
.NavBar {
  width: 100%;
  height: 80px;
  background: var(--bg2);
  background: transparent;
  backdrop-filter: blur(5px);
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px 4px #0000002E;
}
.NavBar img { 
  width: 30px;
  height: 30px;
  position: absolute;
  left: 25px;
}
.NavBar > p { /* Logo */
  font-size: var(--fs);
  font-weight: bold;
  color: var(--tx);
}
.NavBar > p:first-letter {
  color: var(--red);
}
.Menu {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 25px;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 7px;
  transition: all .3s;
}
.Menu span {
  width: 35px;
  height: 4px;
  background: var(--bg2);
  border-radius: 5px;
  transition: 0.3s ease;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}
input[type]:checked ~ span.top {
  transform: translateY(290%) rotate(45deg);
}
input[type]:checked ~ span.bot {
  transform: translateY(-270%) rotate(-45deg);
}
input[type]:checked ~ span.mid {
  transform: translateX(-20px);
  opacity: 0;
}

/* Menu Box */
.MenuBox {
  width: 100%;
  height: auto;
  background: transparent;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 80px;
  left: -100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px 0;
}
.MenuBox a {
  width: 80%;
  height: auto;
  padding: 10px 0;
  background: var(--bg2);
  text-decoration: none;
  text-align: center;
  font-size: var(--fs2);
  font-weight: bold;
  color: var(--tx2);
  border-radius: 5px;
}
.MenuBox a:first-letter {
  color: var(--red);
}
.MenuBoxOn {
  left: 0;
}

/*** Main ***/
.Main {
  width: 100vw;
  height: auto;
  min-height: 100%;
  overflow: scroll;
  background: var(--bg);
  padding: 100px 25px 10px 25px;
}

/* User Box Fro Search */
.UserBox {
  width: 100%;
  height: 70px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.UserBox input {
  width: 80%;
  height: 50px;
  border: 2.5px solid var(--bg2);
  outline: none;
  padding: 5px 45px 4px 15px;
  color: var(--tx);
  border-radius: 7px;
  font-size: 1.1rem;
}
.UserBox img {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 13%;
}
.error {
  border: 2.5px solid var(--red);
}

/* User Options Box */
.OptionsBox {
  width: 100%;
  height: auto;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 20px 0;
}
.ItemsBox {
  width: 50%;
  height: 45px;
  border: 2.5px solid var(--tx);
  border-radius: 5px;
  background: transparent;
  text-align: center;
  font-size: var(--fs2);
  color: var(--tx);
  outline: none;
}

/* Style The Titles */
.Titles {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.Titles p {
  color: var(--tx);
  font-weight: bold;
  font-size: var(--fs2);
}
.Titles p:first-letter {
  color: var(--red);
}
.TitlesStyle {
  width: 100%;
  height: 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
}
.TitlesStyle span {
  width: 7px;
  height: 100%;
  background: var(--bg2);
  border-radius: 5px;
}
.TitlesStyle span:nth-child(1) {
  width: 25px;
}

/* Search Box Style */
.SearchBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Movie Card Style */
.Movie {
  width: 48%;
  height: auto;
  border-radius: 7px;
  border: 4px solid var(--bg2);
  text-decoration: none;
  overflow: hidden;
}
.MovieCover {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.MovieCover img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.MovieRiting {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  gap: 3px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  font-weight: bold;
  color: yellow;
  padding: 0 3px;
}
.MovieRiting:before {
  content: '⭐';
  position: relative;
  top: -2px;
}
.MovieInfo {
  width: 100%; 
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  gap: 1px;
  padding: 0 5px;
  overflow: auto;
}
.MovieInfo p {
  font-size: 12px;
  color: var(--tx);
  font-weight: bold;
}
.MovieInfo small {
  color: var(--tx);
  opacity: 0.7;
  font-size: 10px;
  font-weight: bold;
}

/* Search Result */
/* Movies Box Content & MoreBtn */
.MBContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 5px;
  padding-top: 20px;
}
.MoreBtn {
  width: 100%;
  height: 140px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-top: 20px;
}
.MoreBtn label {
  color: var(--tx);
  font-weight: bold;
  font-size: var(--fs2);
}
.MoreBtn label:first-letter {
  color: var(--red);
}
.MoreBtn img {
  width: 30px;
  height: 30px;
}
.showBtn {
  display: flex;
}
